# USE OF 5G APIs
***

This section will show all usage of 5G APIs of the Network App **{{name}}** version **{{version}}**

{% if tests_executed == true %}
Repo used for Validation: **{{repo}}**
Branch used for Validation: {{branch}}
Last commit ID: {{commit}}
Environment used: **{{environment}}**
Build number at Jenkins: {{build_number}}

The individual result of the certification tests are displayed in the following table:
{% set vars = {'foo': False} %}

| Name | Result |
|:---|:---|
{%- for step in apis_5g %}
{%- if "Services logged at CAPIF" in step.name %}
      {%- for api_id,api_name in step.value.items() %}
{%- if api_name is string %}
| {{ step.name|upper|replace("-"," ") + ' ***' + api_name + '***' }} | SUCCESS |
{%- else %}
| {{ step.name|upper|replace("-"," ") + ' ***' + api_name[0] + '***' }} | SUCCESS |
{%- endif %}
      {%- endfor %}
    {%- else %}
| {{ step.name|upper|replace("-"," ") }} | {{step.value}} |
      {%- if step_status == "FAILURE" -%}
        {%- if vars.update({'foo': True}) -%}
        {%- endif %}
      {%- endif %}
    {%- endif %}
{%- endfor %}

{% if vars.foo %}
  **Please, take a look to those API uses that are failing.**
{% else %}
  **Congratulations usage of all 5G APIs has been successful**
{% endif %}
{% else %}
  **This section was skipped due to some previous errors, please check summary to find the step with problems** 
{% endif %}

