
# PLATFORM ASSESSMENT
***

This step show results of platform assessment measures.

## TSN experiments

Delay and jitter experiments were carried out using predefined test case templates: UMA_TSN_OWD and UMA_TSN_Jitter, 
which corresponds to the evaluation of the Downlink One-Way Delay (OWD) and jitter on the TSN over 5G architecture, respectively.


### One-Way Delay (ns) - TSN scenario
This test evaluates the One-Way Delay (OWD) of a TSN over 5G SA network. The main goal of this test is to assess the end-to-end delay of the TSN over 5G infrastructure that lays on the UMA platform. 

| Indicator          | Value      | Confidence Interval |
| :----------------- | :--------- | :------------------ |
| 25% Percentile     | 5636150.39 | 235867.39           |
| 5% Percentile      | 5485145.36 | 252703.17           |
| 75% Percentile     | 6171831.91 | 367331.07           |
| 95% Percentile     | 6482334.64 | 344746.05           |
| Max                | 7455185.73 | 1105994.33          |
| Mean               | 5918610.89 | 268066.77           |
| Median             | 5899707.63 | 308110.15           |
| Min                | 5336491.35 | 204376.80           |
| Standard Deviation | 387955.97  | 124961.22           |

&nbsp;

### Jitter (ns) - TSN scenario
This test evaluates the Jitter of a TSN over 5G SA network. The main goal of this test is to assess the end-to-end jitter of the TSN over 5G infrastructure that lays on the UMA platform.
| Indicator          | Value      | Confidence Interval |
| :----------------- | :--------- | :------------------ |
| 25% Percentile     | 922242.65  | 202034.36           |
| 5% Percentile      | 712654.77  | 137255.15           |
| 75% Percentile     | 1391197.28 | 222058.36           |
| 95% Percentile     | 1622248.64 | 155953.38           |
| Max                | 1988893.58 | 171223.24           |
| Mean               | 1126875.32 | 167678.41           |
| Median             | 1037233.30 | 213507.84           |
| Min                | 606141.43  | 133045.07           |
| Standard Deviation | 331972.47  | 76597.79            |

&nbsp;

## Platform KPIs
This experiments over platform shows the usual measures at environment under test like Delay, Jitter and Throughput of traffic and also percent of total memory used.

&nbsp;

{% if KPIs|length > 0 %}
{%- for type, kpi_info in KPIs.items() %}
{%- if type == 'NoType' %}
&nbsp;
### Kpi not categorized
These KPIs were not categorized by ELCM.
{%- else %}
### Kpi type {{ type }}
{%- endif%}

| KPI Name | Min | Max | Mean | Median | Standar Deviation | Description |
|:---|:---|:---|:---|:---|:---|:---|
{%- for kpi_name,kpi_complete_info in kpi_info.items() %}
  {%- if kpi_complete_info.status %}
  {%- set kpi_stats = kpi_complete_info['Test Case Statistics'] %}
| {{kpi_name}}| {{'%0.2f'| format(kpi_stats.Min.Value)}} | {{'%0.2f'| format(kpi_stats.Max.Value)}} | {{'%0.2f'| format(kpi_stats.Mean.Value)}} | {{'%0.2f'| format(kpi_stats.Median.Value)}} | {{'%0.2f'| format(kpi_stats['Standard Deviation'].Value)}} | {{ kpi_complete_info['Description'] }} |
  {%- else %}
| {{kpi_name}}| No data obtained  |
  {%- endif %}  
{%- endfor %}
{% endfor %}
{% if Verdict == 'Error' %}
**WARNING:** Some KPIs fails on platform assessment, maybe some values displayed are 0.
{% endif %}
{% else %}
Something fails obtaining platform assessment, no KPIs present

{% endif %}


