
# NETWORK APP KPIS
***

This section will show all **{{name}}** Network Application with version **{{version}}** KPIs for all pods deployed.

&nbsp;

## K8s Host KPIs
| Host |
{%- for instance_title, instance_formatted_title in instance_titles.items() -%}
 {{ instance_formatted_title }} |
{%- endfor %}
|:---|
{%- for instance_title, instance_formatted_title in instance_titles.items() -%}
:---:|
{%- endfor %}
{%- for instance_name, instance_value in instance.items() %}
| {{instance_name}} | 
{%- for instance_title, instance_formatted_title in instance_titles.items() -%}
{%- if instance_value[instance_title] -%}
{%- set measure_value = instance_value[instance_title]['value'] | float -%}
 {{'%0.2f'|format(measure_value)}} |
{%- else -%}
- |
{%- endif -%}
{%- endfor -%}
{%- endfor %}

&nbsp;

## Network App KPIs
| Service |
{%- for pod_title, pod_title_formatted_value in pod_titles.items() -%}
 {{ pod_title_formatted_value }} |
{%- endfor %}
|:---|
{%- for pod_title, pod_title_formatted_value in pod_titles.items() -%}
:---:|
{%- endfor %}
{%- for pod_name, pod_value in pod.items() %}
| {{pod_name}} | 
{%- for pod_title, pod_title_formatted_value in pod_titles.items() -%}
{%- if pod_value[pod_title] -%}
{%- set measure_value = pod_value[pod_title]['value'] | float -%}
 {{'%0.2f'|format(measure_value)}} |
{%- else -%}
- |
{%- endif -%}
{%- endfor -%}
{%- endfor %}

