# SOURCE CODE SECRETS LEAKAGE
{% set critical_issues = [] %}
***
Test Description: This test analyse the source code and detects secrets exposed.
Network App repository used for the analysis: {{repo}}
Branch used for the Analysis: {{branch}}
Last Commit ID: {{commit}}

{% if not vulnerabilities %} 
Good work. No leaked secrets found.
{% else %}
## Summary

| Rule | Number of secrets leaked |
|---|---|
{%- for summary_type in summary %}
| {{summary_type.Description}} | {{summary_type.counts}} |
{%- endfor %}
***
## Passwords detected in commit history
| Severity |  Description | Match | File | Author | Date |
|---|---|---|---|---|---|
  {%- for vuln in vulnerabilities %}
|{{vuln.Severity}}|{{vuln.Description}}|{{vuln.Match}}|[{{vuln.File}}](https://github.com/{{vuln.ID}}/blob/{{vuln.Commit}}/{{vuln.File}}#L{{vuln.StartLine}}-L{{vuln.EndLine}})|{{vuln.Author}}|{{vuln.Date[:16]}}|
  {%- endfor %}

{%- for vuln in vulnerabilities %}
    {%- if vuln.Severity == "CRITICAL" %}
      {% if critical_issues.append(1) %}{% endif %}
    {%- endif %}
{%- endfor %}
  {% if critical_issues %}
The Source Code Secrets Leakage scan stage has failed because we have found Critical Issues. Please try to solve this error.
    {% else %}
The Source Code Secrets Leakage scan stage has been completed successfuly.
  {%- endif %}
{%- endif %}
***
More information can be found in the following link: {{url}}