# Evolved5G Report
# Trivy static code analysis 
{%- for row in jsons %}
{% set name = row.id.split("/") %}
## Scan of {{row.type}}: {{name |last}}

    
***
{% if not row.vulnerabilities %} 
Good work. No vulnerabilities found.
{% else %}
### Summary
{%- set severities = [ "CRITICAL" , "HIGH" , "MEDIUM" , "LOW" ,  "UNKNOWN"] %}

| Severity | Number of vulnerabilities |
|---|---|
{%- for severity in severities %}
  {%- for summary_type in row.summary %}
    {%- if summary_type.Severity == severity %}
| {{summary_type.Severity}} | {{summary_type.counts}} |
    {%- endif %}
  {%- endfor %}
{%- endfor %}
  {%- for summary_type in row.summary %}
    {%- if summary_type.Severity == "CRITICAL" %}
    CRITICAL Vulnerabilities detected, please check the {{row.type}}
    {%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
***
