
# Scan of {{type}}: {{id}}

***
{% if not vulnerabilities %} 
Good work. No leaked secrets found.
{% else %}
## Summary

| Rule | Number of secrets leaked |
|---|---|

{%- for summary_type in summary %}
| {{summary_type.Description}} | {{summary_type.counts}} |
{%- endfor %}

***



## Passwords detected in commit history
| Severity |  Description | Match | File  | Author | Date |
|---|---|---|---|---|---|---|
  {%- for vuln in vulnerabilities %}
|{{vuln.Severity}}|{{vuln.Description}}|{{vuln.Match}}|[{{vuln.File}}](https://github.com/{{vuln.ID}}/blob/{{vuln.Commit}}/{{vuln.File}}#L{{vuln.StartLine}}-L{{vuln.EndLine}})|{{vuln.Author}}|{{vuln.Date[:16]}}|
  {%- endfor %}
{%- endif %}
***
Date: {{scan_date[:10]}}



