# ANEX
# Sonarqube static quality code analysis 

{% set name = projectName.split("-") %}
## Scan of {{name.1}}

### Summary
| Severity | Number of vulnerabilities |
|---|---|
{%- for summary_type in summary %}
| {{summary_type}} | {{summary[summary_type]}}|
  {%- endfor %}
***
{% if not issues %} 
Good work. Code has a good quality.
{% else %}
### Issues
| Severity | Status | Line | Component | Description | 
|---|---|---|---|---|
{%- for issue_type in issues %}
  {% if issue_type.severity in ["blocker","critical"] %} 
| {{issue_type.severity}} | {{issue_type.status}} | {{issue_type.line}} | {{issue_type.component}} | {{issue_type.description}} | 
  {%- endif %}
{%- endfor %}
{%- endif %}

