
# Validation Report Executive Summary
***

This Validation Report contains the results of the Validation
Process executed over the Netapp @REPO_NAME

The repo used for Validation has been: @REPO_URL
The branch used for Validation has been: @BRANCH_NAME
The last commit ID has been: COMMIT_ID

The result of the Validation Process over the Netapp @REPO_NAME has been: 

The individual result of the validations test has been as show in the following table:

{% set vars = {'foo': False} %}
{% set counter = 0 -%}
{% for group in key.0 -%}
  STEP {{ counter + loop.index0 }}: {{ group|upper|replace("-"," ") }} status: {{key.0[group]}}
    {%- if key.0[group] == "FAILURE" %}
      {% if vars.update({'foo': True}) %} 
      {% endif %}
    {%- endif %}
  {% set counter = counter + group|length %}
{% endfor -%}
{% if vars.foo %}
  **Please, take a look to those steps that are failing.**
{% endif %}


In the following pages, we provide details of the tests executed 
and the results.







