# LICENSE COMPLIANCE ANALYSIS
# Analisys Results

Test Description: Licenses, as written by man and with different objectives in mind, are by their nature gradual in the restrictions they require for the use of open source software.
Netapp repository used for the analysis: {{repo}}
Branch used for the Analysis: {{branch}}
Last Commit ID: {{commit}}

Licenses introduce a varying degree of conditions to be fulfilled for using the licensed software. Open Source licenses gives indeed many freedoms, but seldom completely unconditionally:

- Almost all licenses require you to attribute the distributed software with a copyright and a permission notice, sometimes in addition with the entire license text.
- Some licenses require you to publish the source code as well, which add work to ensure that you are in compliance with the license.
- Some licenses add rights and conditions beyond the copyright, suchs as on patents, trademarks, data, and privacy which may make it more difficult to altogether achieve compliance of a license.
- And to complicate things even further, some Open Source licenses have conditions which makes them incompatible with other Open Source licenses. This is most notably with the GPL license.

The licenses scan has been performed using Debricked SaaS.

## Licenses Summary

| License Name | Families | Dependencies |
|---|---|---|

{%- for license, value in licenses.items() %}
| {{license}} | {{value["family"]}} | {{value["count"]}}  |
{%- endfor %}

***

## Dependencies Summary

| Dependency Name | Version | Licenses | Families |
|---|---|---|---|

{%- for dependency, value in dependencies.items() %}
| {{dependency}} | {{value["version"]}} | {{value["licenses"]}}  | {{value["families"]}}  |
{%- endfor %}

