# USE OF 5G APIs
***

This section will show all usage of 5g APIs of the Network App **{{name}}** version **{{version}}**

Repo used for Validation: **{{repo}}**
Branch used for Validation: {{branch}}
Last commit ID: {{commit}}
Environment used: **{{environment}}**
Build number at Jenkins: {{build_number}}

The individual result of the validations test is displayed in the following table:
{% set vars = {'foo': False} %}

| Name | Result |
|:---:|:---|
{%- for step in 5g_apis%}
{% if step.name == "NEF Services logged at CAPIF" %}
      {%- for api_id,api_name in step.value.items() %}
| {{ step.name|upper|replace("-"," ") + ' ***' + api_name + '***' }} | SUCCESS |
      {%- endfor %}
    {%- else %}
| {{ step.name|upper|replace("-"," ") }} | {{step.value}} |
      {%- if step_status == "FAILURE" -%}
        {%- if vars.update({'foo': True}) -%}
        {%- endif %}
      {%- endif %}
    {%- endif %}
{% endfor %}

{% if vars.foo %}
  **Please, take a look to those API uses that are failing.**
{% else %}
  **Congratulations your all checks are working properly**
{% endif %}

